.header
  - if user_signed_in?
    %p.navbar-text.navbar-right
      = current_user.email
  %ul.nav.nav-pills.pull-right
    - if user_signed_in?
      %li
        = link_to "Sign Out", destroy_user_session_path, method: :delete
      
    - else
      %li
        = link_to "Register", new_user_registration_path
      %li
        = link_to "Sign In", new_user_session_path
  %h3.text-muted MonumenTrove
