%h1 My Categories
%div
  = link_to "New", new_category_path
  
%ul
  - @categories.each do |category|
    %li
      = link_to category.name, category
      = link_to "Edit", edit_category_path(category)
      = link_to "Destroy", category, method: :delete, data: { confirm: 'Are you sure?' }
